
    p{
        background-color: rgb(255, 6, 6); 
        color: black; 
        text-align: justify;
    }

    h1{
        text-align: center; 
        background-color: azure; 
        color: rgb(161, 35, 35);


    }


